

.book__img {
    width: 212px;
    height: 300px;
    box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);
    box-sizing: border-box;
    background-color: $button-color-secondary;
}

@media (max-width: 983px) {
    .book__img {
        box-shadow: none;
    }
}