$color-main: rgba(28, 42, 57, 1);
$color-secondary: rgba(92, 106, 121, 1);

$button-color-main: rgba(76, 61, 178, 1);
$button-color-secondary: rgba(238, 237, 245, 1);

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;



